<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/style3.css">
    <link rel="stylesheet" href="css/style4.css">

</head>

<body>



    <form action="/l" method="post">

        <!-- <div class="box-form">
                <div class="left">
                    <div class="overlay">
                    <h2 style="margin-top: -5px;">Welcome</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur et est sed felis aliquet sollicitudin</p>
                    <span>
                        <span>Home Page</span>
                        <a href="http://localhost:8000/" style="margin-left: 250px; text-decoration: none;" ><i class="fa fa-twitter" aria-hidden="true"></i> Home</a>
                    </span>
                    </div>
                </div>
                
                
                    <div class="right">
                    <h5>Login</h5>
                    <p>Don't have an account? <a href="#">Creat Your Account</a> it takes less than a minute</p>
                    <div class="inputs">
                        <input type="text" placeholder="Name" name="name">
                        <br>
                        <input type="email" name="email" placeholder="Email">
                        <br>
                        <input type="password" placeholder="Password" name="password">
                        <span style="color: red;"><%= (typeof fields != "undefined" ? fields : "") %></span>
                        <span style="color: red;"><%= (typeof wrong != "undefined" ? wrong : "") %></span>
                        <span style="color: red;"><%= (typeof error != "undefined" ? error : "") %></span>
                        <br>
                    </div>
                        
                        <br><br>
                        
                    <div class="remember-me--forget-password">
                         
                <label>
                    <input type="checkbox" name="item" checked/>
                    <span class="text-checkbox">Remember me</span>
                </label>
                        <p>forget password?</p>
                    </div>
                        
                        <br>
                        <input type="submit" class="button"></input>
                </div>
                
            </div> -->

        <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
            <div class="container">
                <div class="card login-card">
                    <div class="row no-gutters">
                        <div class="col-md-5">
                            <img src="images/elderly_care.jpg" alt="login" class="login-card-img">
                            <p
                                class="text-white font-weight-medium text-center flex-grow align-self-end footer-link text-small">
                            </p>
                        </div>

                        <div class="col-md-7">
                            <div class="card-body">
                                <div class="brand-wrapper">
                                    <img src="images/logo.png" alt="logo" class="logo">
                                </div>
                                <p class="login-card-description">Sign into your account</p>
                                <form action="/" method='post'>
                                    <div class="form-group mb-4">
                                        <label for="password" class="sr-only">Password</label>
                                        <input type="text" name="name" id="password" class="form-control"
                                            placeholder="Username">
                                        
                                        <!-- <br> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="sr-only" style="color: black;">Email</label>
                                        <input type="email" name="email" id="email" class="form-control"
                                            placeholder="Email address" >
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="password" class="sr-only">Password</label>
                                        <input type="password" name="password" id="password" class="form-control"
                                            placeholder="***********" autocomplete="off">
                                            <span style="color: red;">
                                                <%= (typeof wrong !="undefined" ? wrong : "" ) %>
                                            </span>
                                            <span style="color: red;">
                                                <%= (typeof fields !="undefined" ? fields : "" ) %>
                                            </span>
                                            <span style="color: red;">
                                                <%= (typeof error !="undefined" ? error : "" ) %>
                                            </span>
                                    </div>
                                    <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit"
                                        value="Login">
                                </form>
                                <a href="/applicant" class="forgot-password-link">Apply For Being An Applicant !</a><br>
                                <a href="/ctLogin" class="forgot-password-link">Login as an Employee</a>
                                <p class="login-card-footer-text">Don't have an account? <a href="/register"
                                        class="text-reset">Register here</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </form>
</body>

</html>